@charset "UTF-8";

.profile-items-box {
	display: flex;
	justify-content: center;
	gap: 2vw;
	margin: 4.5rem 2rem 0 2rem;
	color: #555;
}

.profile-items-box li {
	border-radius: 30px;
	text-align: center;
	width: 550px;
	padding: 30px;
	display: flex;
	flex-direction: column;
}

.button {
	width: auto;
}

.profile-message {
	height: 40px;
}

.kapibara-like {
	width: 110px;
	margin: 0 auto;
}

.kapibara-like img {
	width: 100%;
	height: 100%;
}