@charset "UTF-8";

dl {
	box-shadow: 0 1px 4px 0 #555;
	border-radius: 30px;
	width: 80%;
	margin: 0 auto 20px auto;
	text-align: center;
	padding: 30px;
	
}

.profile-category {
	display: flex;
	justify-content: center;
	color: #555;
	align-items: center;
}

.profile-category i {
	margin-right: 0.5em;
}

.profile-items {
	display: inline-block;
	text-align: left;
}

.profile-item {
	display: flex;
}

.profile-update-button  {
	margin-top: 3em;
}