<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
	  <!-- フォントやアイコンなどの読み込み -->
	        <link rel="preconnect" href="https://fonts.googleapis.com">
	        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

	        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	        <link rel="stylesheet" href="/css/style.css">
			<link rel="stylesheet" href="/css/header-footer.css">

	        <!--ここまで共通-->
	
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

	<style>
		.plan-button {
			all: unset;
		}
	</style>
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<div class="details-box">
			<div class="room-ditail">
				<div class="room-img" id="slide">
					<img th:src="@{${room.imgPath}}" th:alt="@{${room.roomName}}" id="room-img">
					<span id="prevBtn" onclick="prev()">&lt;</span>
					<span id="nextBtn" onclick="next()">&gt;</span>

				</div>
				<div class="room-text">
					<h3 class="room-name" th:text="${room.roomName}"></h3>
					<div class="" id="${room.id}">
						<a th:href="@{/detail/{roomId}/like(roomId=${room.id})}">
							<i th:if="${like.contains(room.id) == true}" class="fa-solid fa-star"></i>
							<i th:unless="${like.contains(room.id) == true}" class="fa-regular fa-star"></i>
						</a>
					</div>

					<p class="room-message" th:text="${room.description}"></p>

					<div class="room-price">
						<p th:text="${room.price} + '円~'"></p>
					</div>
				</div>

			</div>
			<div class="room-plans">
				<ul class="plans">
					<li class="plan" th:each="plan:${plans}">
						<form th:action="@{/rooms/{id}/reserve(id=${room.id})}">
							<input type="hidden" name="planId" th:value="${plan.id}">
							<input type="hidden" name="checkinDate" th:value="${checkinDate}">
							<input type="hidden" name="checkoutDate" th:value="${checkoutDate}">
							<button class="plan-button">
								<p th:text="${plan.name}"></p>
								<p th:text="${plan.details}"></p>
								<p th:text="${plan.calcTotalPrice(room.price)} + '円 /人'"></p>
							</button>
						</form>
					</li>
				</ul>
			</div>

			<!--/* レビュー一覧表示 */-->
			<div th:if="${reviews != null and !reviews.isEmpty()}"
				th:replace="~{review/list :: reviewList(${reviews})}">
			</div>

		</div>


	</main>
	<footer th:replace="footer"></footer>
	<script src="/js/room-slider.js"></script>
	<script th:inline="javascript">
	  // Thymeleafから画像リストを受け取って初期化
	  const imgList = /*[[${imgList}]]*/ [];
	  initSlider(imgList);
	</script>

</body>

</html>