<footer class="main-shadow">
	<div class="footer-box">
		<!--<p>&copy; ならん</p>-->
		<div class="footer-left">
			<div class="footer-sns">
				<a href="https://www.instagram.com/atsushi_okiphoto?igsh=NXRscGJ5Y2FremJs" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-instagram"></i>
				</a>
				<a href="https://x.com/umi_toudai?t=9ZNJMKs9AqWro_08NMrUsw&s=06" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-x-twitter"></i>
				</a>
				<a href="https://www.youtube.com/watch?v=A8DI6DF4r3Q&list=RDA8DI6DF4r3Q&start_radio=1" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-youtube"></i>
				</a>
			</div>
			<div class="policies">
				@2025 Gran Marina Resort | <a href="">プライバシーポリシー</a> | <a href="">利用規約</a>
			</div>
		</div>
		<div class="footer-right">
		  <div class="footer-logo" onclick="playGifOnce()">
		    <img id="kapibaraLogo" src="/uploads/images/kapibara.png" class="logo-gif" alt="ロゴ">
		  </div>
		</div>
		
		<script>
			function playGifOnce() {
			  const logo = document.getElementById("kapibaraLogo");
			  const staticImg = "/uploads/images/kapibara.png";
			  const gifImg = "/uploads/gifs/kapibara.gif";

			  logo.src = gifImg + '?t=' + new Date().getTime(); // キャッシュ対策

			  setTimeout(() => {
			    logo.src = staticImg;
			  }, 1500); // GIFの長さに応じて調整
			}
		</script>

	</div>
</footer>