<footer class="main-shadow">
	<div class="footer-box">
		<!--<p>&copy; ならん</p>-->
		<div class="footer-logo-gif" onclick="playGifOnce()">
			<img id="kapibaraEat" src="/uploads/gifs/kapibara2.gif" class="logo-gif2" alt="ロゴ">
		</div>
		<div class="footer-left">
			<div class="footer-sns">
				<a href="" rel="noopener noreferrer">
					<i class="fa-brands fa-instagram"></i>
				</a>
				<a href="" rel="noopener noreferrer">
					<i class="fa-brands fa-x-twitter"></i>
				</a>
				<a href="" rel="noopener noreferrer">
					<i class="fa-brands fa-youtube"></i>
				</a>
				<span class="kapibara-gif" id="carrot">
					<i class="fa-solid fa-carrot"></i>
				</span>
			</div>
			<div class="policies">
				@2025 Gran Marina Resort | <a href="/privacy">プライバシーポリシー</a> | <a href="/terms">利用規約</a>
			</div>
		</div>
		<div class="footer-right">
			<div class="footer-logo" onclick="playGifOnce()">
				<img id="kapibaraLogo" src="/uploads/images/kapibara.png" class="logo-gif" alt="ロゴ">
			</div>
		</div>

		<script src="/js/gif.js"></script>

	</div>
</footer>