<footer class="main-shadow">
	<div class="footer-box">
		<!--<p>&copy; ならん</p>-->
		<div class="footer-left">
			<div class="footer-sns">
				<a href="">
					<i class="fa-brands fa-instagram"></i>

				</a>
				<a href="">
					<i class="fa-brands fa-x-twitter"></i>

				</a>
				<a href="">
					<i class="fa-brands fa-youtube"></i>

				</a>
			</div>
			<div class="policies">
				@2025 Gran Marina Resort | <a href="">プライバシーポリシー</a> | <a href="">利用規約</a>
			</div>
		</div>
		<div class="footer-right">
			<div href="/room" class="footer-logo"><img src="/uploads/images/kapibara.png" class="logo-img" alt="ロゴ">
			</div>
		</div>

	</div>
</footer>