<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
	<meta charset="UTF-8">
	<title>ログインページ</title>
</head>
<body>
	<header th:replace="header"></header>
	<h1>ログインページ</h1>
	<p th:if="${errorList}" th:each="error:${errorList}" th:text="${error}"></p>
	<form action="/login" method="post">
		<input type="email" name="email" placeholder="メールアドレス">
		<input type="password" name="password" placeholder="パスワード">
		<button>ログイン</button>
		<a href="/account/register">新規登録</a>
	</form>
	
	<footer th:replace="footer"></footer>
</body>

</html>