<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>予約ページ</title>
	<!-- フォント・アイコン・共通CSS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/header-footer.css">
	<link rel="stylesheet" href="/css/detail.css">
	<!--	<link rel="stylesheet" href="/css/top-style.css"> -->
	<link rel="stylesheet" href="/css/calendar.css">
	<link rel="stylesheet" href="/css/reserve.css">
	<link rel="stylesheet" href="/css/shadow.css">
</head>

<body>
	<header th:replace="header"></header>
	<!-- 部屋イメージヘッダー -->
	<div class="head-img">
		<img th:src="${room.imgPath}" th:alt="${room.roomName}">
	</div>
	<main>
		<div class="details-box">

			<!-- ========== 部屋ディテール ========== -->
			<div class="room-ditail">
				<div class="room-top">
					<div class="room-title">
						<h1 class="room-name" th:text="${room.roomName}"></h1>
						<p class="room-message" th:text="${room.description}"></p>
					</div>
				</div>
				<div class="room-contain">
					<div class="room-img" id="slide">
						<img th:src="@{${room.imgPath}}" th:alt="@{${room.roomName}}" id="room-img">
						<span id="prevBtn" onclick="prev()">&lt;</span>
						<span id="nextBtn" onclick="next()">&gt;</span>
					</div>
					<div class="room-amenities main-shadow">
						<div class="room-type" th:text="${room.type.typeName}"></div>
						<div class="room-price">
							税・サービス料込み
							<p th:text="${#numbers.formatInteger(room.price, 3, 'COMMA')} + '円~'"></p>
						</div>
						<div class="facility-section">
							<div class="section-title">●お部屋の設備</div>
							<div class="section-content">
								バス・トイレ別 / テレビ / 冷蔵庫 /
								無料インターネットアクセス（WIFI）/
								電話 / 金庫 / スリッパ / ルームウェア/
								電気ケトル / ビーチサンダル / ビーチバック
							</div>
						</div>
						<div class="facility-section">
							<div class="section-title">●アメニティ</div>
							<div class="section-content">
								バスアメニティ（シャンプー / コンディショナー /
								固形ソープ / ボディウォッシュ / ボディローション）
								バスリネン（バスタオル / フェイスタオル / ハンドタオル）
								バスローブ / 歯ブラシ / コットン / 綿棒 / ヘアドライヤー / ヘアブラシ / 拡大鏡
							</div>
						</div>
					</div>
				</div>
			</div><!-- /room-ditail -->
		</div>

		<!-- ========== プランカード ========== -->
		<div class="room-plans">
			<h3 class="room-plans-title">選択中のプラン</h3>
			<div class="plan-card-content main-shadow">
				<div>
					<p class="plan-title" th:text="${plan.name}"></p>
				</div>
				<div class="plan-detile">
					<p class="plan-desc" th:text="${plan.details}"></p>
					<div class="plan-price" th:text="${#numbers.formatInteger(plan.calcTotalPrice(room.price), 3, 'COMMA')} + '円 /人'"></div>
				</div>
			</div>
		</div>

		<!-- ========== 予約フォーム ========== -->
		<h3 class="room-plans-title">予約フォーム</h3>
		<form class="reserve-card main-shadow" th:action="@{/rooms/{id}/reserve(id=${room.id})}"
			th:object="${reserveDto}" method="post" autocomplete="off" style="width: 96%;">
			<!-- --------- 宿泊情報 --------- -->
			<div class="reserve-form-block">
				<h2 class="section-title">●宿泊情報詳細</h2>
				<div class="reserve-form-row">
					<label>宿泊予定日</label>
					<div class="calendar-input-row">
						<input id="checkinDate" type="text" th:field="*{checkinDate}" placeholder="チェックイン日" readonly>
						<span class="calendar-tilde">~</span>
						<input id="checkoutDate" type="text" th:field="*{checkoutDate}" placeholder="チェックアウト日" readonly>
						<!-- inputの下線直下・横幅100%に絶対配置 -->
						<div id="calendarArea" style="display: none;">
							<div class="calendar-nav-row">
								<button type="button" class="calendar-nav-btn calendar-nav-prev" id="prev">&lt;</button>
								<div class="calendar-nav-space"></div>
								<button type="button" class="calendar-nav-btn calendar-nav-next" id="next">&gt;</button>
							</div>
							<div id="calendar" class="calendar"></div>
							<button type="button" id="closeCalendar">閉じる</button>
						</div>
					</div>
					<!-- ▼▼▼▼▼▼▼▼▼▼ ここからエラー表示を個別にラップ ▼▼▼▼▼▼▼▼▼▼ -->
					<div class="error-box" th:if="${#fields.hasErrors('checkinDate')}" th:errors="*{checkinDate}"></div>
					<div class="error-box" th:if="${#fields.hasErrors('checkoutDate')}" th:errors="*{checkoutDate}">
					</div>
					<!-- ▲▲▲▲▲▲▲▲▲▲ ここまで ▲▲▲▲▲▲▲▲▲▲ -->
				</div>
				<div class="reserve-form-row select-row">
					<label for="guestCount">宿泊者数</label>
					<div class="select-flex">
						<select name="guestCount" id="guestCount" th:field="*{guestCount}">
							<option th:each="count : ${maxGuestCount}" th:text="${count}" th:value="${count}"></option>
						</select>
						<span class="after-select">人</span>
					</div>
					<!-- ▼▼▼▼▼▼▼▼▼▼ エラーを個別にラップ ▼▼▼▼▼▼▼▼▼▼ -->
					<div class="error-box" th:if="${#fields.hasErrors('guestCount')}" th:errors="*{guestCount}"></div>
					<!-- ▲▲▲▲▲▲▲▲▲▲ ここまで ▲▲▲▲▲▲▲▲▲▲ -->
				</div>
			</div>
			<!-- --------- 予約者情報 --------- -->
			<div class="reserve-form-block">
				<h2 class="section-title">●予約者情報</h2>
				<div class="reserve-form-row">
					<label for="name">名前</label>
					<input id="name" type="text" th:field="*{guestName}" placeholder="山田 太郎" />
					<!-- ▼▼▼▼▼▼▼▼▼▼ エラーを個別にラップ ▼▼▼▼▼▼▼▼▼▼ -->
					<div class="error-box" th:if="${#fields.hasErrors('guestName')}" th:errors="*{guestName}"></div>
					<!-- ▲▲▲▲▲▲▲▲▲▲ ここまで ▲▲▲▲▲▲▲▲▲▲ -->
				</div>
				<div class="reserve-form-row">
					<label for="email">メールアドレス</label>
					<input id="email" type="text" th:field="*{email}" placeholder="sample@example.com" />
					<div class="error-box" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
					<!-- ▼グローバルエラーも1つずつラップ-->
					<div th:if="${#fields.hasGlobalErrors()}" th:each="error:${#fields.globalErrors()}">
						<div class="error-box" th:text="${error}"></div>
					</div>
				</div>
				<div class="reserve-form-row">
					<label for="tel">電話番号</label>
					<input id="tel" type="text" th:field="*{tel}" placeholder="08012345678" />
					<div class="error-box" th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"></div>
				</div>
				<div class="reserve-form-row">
					<label for="address">住所</label>
					<input id="address" type="text" th:field="*{address}" placeholder="東京都渋谷区〇〇1-2-3" />
					<div class="error-box" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
				</div>
			</div>
			<input type="hidden" name="planId" th:value="${plan.id}">
			<div class="reserve-button-block">
				<button class="reserve-submit-btn">予約確認</button>
			</div>
		</form>
	</main>
	<footer th:replace="footer"></footer>

	<!-- ========== 画像スライダー ========== -->
	<script src="/js/room-slider.js"></script>
	<script th:inline="javascript">
		// Thymeleafから画像リストを受け取って初期化
		const imgList = /*[[${imgList}]]*/[];
		initSlider(imgList);
	</script>
	<!-- ========== カレンダーJS ========== -->
	<script src="/js/calendar.js"></script>
</body>

</html>