<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>予約履歴確認ページ</title>
	<!-- フォントやアイコンなどの読み込み -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
	<link rel="stylesheet" href="/css/style.css">
	<!--ここまで共通-->
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>予約履歴</h1>
		<ul>
			<li th:each="reservHistory:${reservationHistorys}">

				<div class="">
					<img th:src="@{${reservHistory.room.imgPath}}" alt="部屋">
				</div>
				<div class="">
					<div class="" th:text="${reservHistory.room.roomName}"></div>
					<div class="" th:text="${reservHistory.plan.name}"></div>
					<div class="" th:text="${reservHistory.StayDate}"></div>
					<div class="" th:text="${reservHistory.totalPrice}"></div>
				</div>
				<a th:href="@{/reservationHistory/{id}(id=${reservHistory.id})}">詳細を見る</a>
				<a th:if="${reservHistory.review == null}" th:href="@{/reviews/new/{id}(id=${reservHistory.id})}">
					レビューを書く
				</a>
				<span th:if="${reservHistory.review != null}">
					レビュー投稿済み
				</span>
			</li>
		</ul>
	</main>
	<footer th:replace="footer"></footer>

</body>

</html>