<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>宿へようこそ</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<p>キーワード検索</p>
		<input type="text" name="keyword">
		<div>
			<div>
				<p>部屋タイプ</p>
				<input type="text" name="type">
			</div>
			<div>
				<p>金額</p>
				<input type="text" name="price">
			</div>
		</div>
			<div>
				<p>チェックイン</p>
				<input type="text" name="" value="checkinDate">
			</div>
			<div>
				<p>チェックアウト</p>
				<input type="text" name="price" value="checkoutDate">
			</div>
		<div>
			
		</div>
	</main>
	<footer th:replace="footer"></footer>
</body>
</html>